.banner{
    background-image: url("https://imgeng.jagran.com/images/2023/sep/clement-helardot-95YRwf6CNw8-unsplash1694420716945.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -350px;
    padding: 200px;
}
.thumbnail{
    width: 300px;
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.courses{
    margin-right:80%;
}
